body {
    max-width: 1200px;  /* La página no será más grande de 1200 píxeles */
    width: 100%;  /* La página siempre ocupará todo el ancho posible */
    margin: auto;  /* Centra la página en la pantalla */
}

#header__container {
    width: 100%;  /* Ocupará todo el ancho disponible */
    height: 400px;  /* Tendrá una altura de 400 píxeles */
}

.header__logo {
    width: 100%; /* Ocupará todo el ancho disponible */
	height: 85%;  /* Ocupará el 85% de la altura */
    display: flex;  /* Usa Flexbox para centrar elementos */
    justify-content: center;  /* Centra el logo horizontalmente */
    align-items: center;  /* Centra el logo verticalmente */
}

.logo__img {
    width: 300px;  /* El logo tendrá 270 píxeles de ancho */
    height: 270px;  /* El logo tendrá 270 píxeles de alto */
}

.header__menu {
    height: 15%;  /* Hace que el menú tenga una altura de 40 píxeles */
    background-color: #ccc;  /* Pone un fondo gris claro */
}

.menu__list {
    display: flex;  /* Hace que los elementos del menú se coloquen en fila */
    justify-content: center;  /* Los pone en el centro de la pantalla */
    align-self: center;  /* Se asegura de que estén bien alineados */
    list-style: none;  /* Quita los puntos de la lista */
    height: 100%;  /* Ocupará toda la altura del menú */
    margin: 0;  /* Elimina márgenes innecesarios */
    padding: 0;  /* Elimina el espacio interno */
}

.menu__item {
    font-size: 20px;  /* Hace que las letras sean más grandes */
    padding: 0 25px;  /* Añade espacio a los lados de cada botón */
    display: flex;  /* Hace que el texto dentro del botón esté alineado */
    align-items: center;  /* Centra el texto dentro del botón */
}

.menu__item:hover {
    background-color: #000;  /* Cambia el fondo a negro */
    cursor: pointer;  /* Cambia el cursor a una mano para indicar que se puede hacer clic */
}

.menu__item a {	
    text-decoration: none;  /* Quita el subrayado de los enlaces */
    color: red;  /* Hace que el texto sea rojo */
}

.menu__item:hover a {
    color: #fff;  /* Cuando pasamos el ratón, el texto se vuelve blanco */
}
